<div class="container">
  <div class="sidebar">
    <ion-icon name="home"></ion-icon>
    <ion-icon name="person"></ion-icon>
    <ion-icon name="settings"></ion-icon>
    <br>
  </div>

  <div class="main-content">
    <div class="header">
      <img src="https://mateogutierrez.neocities.org/ChefCode2Home.png" alt="Welcome" class="welcome-image">
      <div class="welcome-text">
        <h2>Bienvenido <p>{{ user.nombre }}</p></h2>
      </div>
    </div>
    



    <div class="report">
      <div class="report-item" (click)="viewDetails('patients')">
        <img src="https://mateogutierrez.neocities.org/Pedidos2.jpg" alt="Patient" class="report-icon">
        <p class="report-text">Pedidos</p>
        <span class="report-count">1032</span>
      </div>
      <div class="report-item" (click)="viewDetails('consultations')">
        <img src="https://mateogutierrez.neocities.org/Reservaciones2.jpg" alt="Consultation" class="report-icon">
        <p class="report-text">Reservaciones</p>
        <span class="report-count">207</span>
      </div>
      <div class="report-item" (click)="viewDetails('injects')">
        <img src="https://mateogutierrez.neocities.org/CrearProductos2.jpg" alt="Inject" class="report-icon">
        <p class="report-text">Crear productos</p>
        <span class="report-count">128</span>
      </div>

      <div class="report-item" (click)="viewDetails('injects')">
        <img src="https://mateogutierrez.neocities.org/EditarProductos2.jpg" alt="Inject" class="report-icon">
        <p class="report-text">Editar productos</p>
        <span class="report-count">128</span>
      </div>
      
      <div class="report-item" (click)="viewDetails('surgeries')">
        <img src="https://mateogutierrez.neocities.org/Perfiladmin2.jpg" alt="Surgery" class="report-icon">
        <p class="report-text">Perfil </p>
        <span class="report-count">48</span>
      </div>
    </div>
  </div>
</div>