<ion-content>
  <div class="container">
    <ion-card class="login-card">
    <img src="https://neocities.org/site_thumbnails/26/08/mateogutierrez/Logo%20ChefCode.png.210x158.webp" alt="Logo pequeño" class="splash-image-small">
    <br>
    <br>  
    <ion-title class="login-title">Bienvenido</ion-title>
      
      
      <ion-button (click)="crear()" expand="block" class="login-button">Crear cuenta</ion-button>

      <ion-button (click)="loguear()" expand="block" class="login-button">Iniciar sesion</ion-button>

      
    </ion-card>
  </div>
</ion-content>

