<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button> <!-- Cambiado a close() -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cartItems.length > 0; else emptyCart"> <!-- Eliminado async -->
    <ion-list>
      <ion-item *ngFor="let item of cartItems">
        <ion-thumbnail slot="start">
          <img [src]="item.imagenUrl" alt="{{ item.nombre }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.nombre }}</h2>
          <h3>Precio: {{ item.precio | currency:'USD':'symbol' }}</h3>
          <p>Cantidad: {{ item.cantidad }}</p>
        </ion-label>
        <ion-button (click)="removeFromCart(item.id)" color="danger">Eliminar</ion-button> <!-- Cambiado a item.id -->
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #emptyCart>
    <ion-item>
      <ion-label>No hay productos en el carrito.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
