<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <ion-list>
      <ion-item *ngFor="let item of cartItems">
        <ion-thumbnail slot="start">
          <img [src]="item.imagenUrl" alt="{{ item.nombre }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.nombre }}</h2>
          <h3>Precio: {{ item.precio | currency:'USD':'symbol' }}</h3>
          <p>Cantidad: {{ item.cantidad }}</p>
          <h4>Subtotal: {{ (item.precio * item.cantidad) | currency:'USD':'symbol' }}</h4>
        </ion-label>
        <ion-button (click)="removeFromCart(item.id)" color="danger">-</ion-button>
        <ion-button (click)="addToCart(item)" color="primary">+</ion-button>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>
        <h2>Total:</h2>
      </ion-label>
      <ion-label>
        <h2>{{ getTotal() | currency:'USD':'symbol' }}</h2>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-template #emptyCart>
    <ion-item>
      <ion-label>No hay productos en el carrito.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="navigateToMenu()">Ordenar</ion-button>
  </ion-toolbar>

  <ion-button color="danger" expand="block" (click)="clearCart()">Vaciar Carrito</ion-button>

</ion-footer>
