<<ion-content class="ion-padding" fullscreen>
  <div class="container">
    <h2>Alta de Productos</h2>

    <!-- Campo: Nombre del producto -->
    <div class="form-group">
      <label>Nombre del Producto</label>
      <ion-item class="rounded-item">
        <ion-input [(ngModel)]="producto.nombre" type="text"></ion-input>
      </ion-item>
    </div>

    <!-- Campo: Descripción -->
    <div class="form-group">
      <label>Descripción</label>
      <ion-item class="rounded-item">
        <ion-textarea [(ngModel)]="producto.descripcion" rows="6"></ion-textarea>
      </ion-item>
    </div>

    <!-- Campo: Precio (números con decimales) -->
    <div class="form-group">
      <label>Precio</label>
      <ion-item class="rounded-item">
        <ion-input [(ngModel)]="producto.precio" type="number" step="0.01" min="0"></ion-input>
      </ion-item>
    </div>

    <!-- Campo: Disponible (Sí o No) -->
    <div class="form-group">
      <label>Disponible</label>
      <ion-item class="rounded-item">
        <ion-select [(ngModel)]="producto.disponible" placeholder="Selecciona una opción" interface="popover">
          <ion-select-option value="true">Sí</ion-select-option>
          <ion-select-option value="false">No</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <!-- Campo: Categoría -->
    <div class="form-group">
      <label>Categoría</label>
      <ion-item class="rounded-item">
        <ion-select [(ngModel)]="producto.categoria" placeholder="Selecciona una categoría" interface="popover">
          <ion-select-option value="platosprincipales">Platos Principales</ion-select-option>
          <ion-select-option value="bebidas">Bebidas</ion-select-option>
          <ion-select-option value="postres">Postres</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Campo: Subir imagen -->
    <div class="form-group">
      <label>Subir Imagen</label>
      <ion-item class="rounded-item">
        <input type="file" (change)="onImageChange($event)" />
      </ion-item>
    </div>

    <!-- Botón: Crear Producto -->
    <ion-button expand="block" class="orange-button" (click)="crearProducto()">Crear Producto</ion-button>
  </div>
</ion-content>