<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="white-background">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="producto.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="producto.descripcion"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input [(ngModel)]="producto.precio" type="number"></ion-input>
  </ion-item>
<ion-item>
  <ion-label position="stacked">Disponible</ion-label>
  <label class="switch">
    <input type="checkbox" [(ngModel)]="producto.disponible">
    <span class="slider"></span>
  </label>
</ion-item>

<ion-row>
  <ion-col>
    <ion-button expand="block" class="btn-save" (click)="saveChanges()">Guardar Cambios</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" class="btn-delete" (click)="deleteProduct()">Eliminar Producto</ion-button>
  </ion-col>
</ion-row>
</ion-content>