<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="custom-title">Tipo de comida</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="plato()" expand="block" class="food-button">Platos principales</ion-button>
      <ion-button (click)="postre()" expand="block" class="food-button">Postres</ion-button>
      <ion-button (click)="bebida()"expand="block" class="food-button">Bebidas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>