<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tipo de comida</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" color="primary" class="food-button">Entradas</ion-button>
      <ion-button expand="block" color="primary" class="food-button">Platos principales</ion-button>
      <ion-button expand="block" color="primary" class="food-button">Postres</ion-button>
      <ion-button expand="block" color="primary" class="food-button">Bebidas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>