.background-image {
  position: fixed; /* Mantener fija al hacer scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://s3-alpha-sig.figma.com/img/f265/76c6/ab78115d32640cbea71ec8fbba682a86?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pf4q5T7vKAGjSpjyaz4YwuQ~4VBEE2iARx28tUMmr-YfyBc9Ej7m0SymLS1cGntaeGd8kYF5Bgre5wqXs7YYM8UhDui47~cvBkoLry3cF524Mz4jOq1O62eK3AyriO6HgObXG1wqofV0iq9gZSBlVpTj-G5boFRXk8gRd4lFMk2Qw5m-KqgirqjwTuLbAHNd7OE4Miu4l0tU21qZx2LxTzii~JikIeu9xDR1i8Y7Bq~esSe4KZbHWLiY5c9JkcgSM7zCLdFEQqs6G1NIa3pkdfqHX9mxgn7H8lYli4IUWneQy9nYqUdhCdwOrkLS89x2WM6pX8rCvK4Jzxf2zQVcSg_');
  background-size: cover; /* Cambiado a cover para ajustarse completamente al fondo */
  background-position: center;
  filter: brightness(0.7);
  z-index: -1;
  transition: filter 0.10s ease;
}

.background-image:hover {
  filter: brightness(1);
}

.custom-font {
  color: #fcfafa;
}

.login-card {
  max-width: 600px;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 50px;
  background-color: rgba(236, 232, 232, 0); /* Carta transparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}

.ion-activated {
  background-color: rgba(236, 232, 232, 0); /* Carta transparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
}

.input-field {
  padding: 0px;
  max-height: 60px;
  border-radius: 50px;
  background-color: rgba(236, 232, 232, 0.342); /* Carta transparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
  margin-bottom: 30px; /* Añadir espacio entre los campos de entrada */
  color: #000; /* Color del texto en los inputs */
}

.custom-label {
  color: #fcfafa; /* Color personalizado para etiquetas */
  font-size: 0.8rem; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
}

ion-card-header {
  text-align: center; /* Centra el contenido del encabezado */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
}

.custom-button {
  --background: #f39c12; /* Color de fondo del botón */
  --color: #fff; /* Color del texto del botón */
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  max-width: 200px;
  margin: auto; /* Centrando el botón */
  display: block;
}
