<ion-header></ion-header>
<ion-content fullscreen class="ion-padding">
  <!-- Fondo animado -->
  <div class="background-image"></div>

  <!-- Tarjeta de inicio de sesión centrada -->
  <div class="login-card">
    <ion-card class="ion-activated">
      <ion-card-header>
        <ion-card-title class="custom-font">Iniciar Sesión de Administrador</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <!-- Campo para el UID personalizado -->
        <div class="input-field">
          <ion-label position="floating" class="custom-label">UID Administrador</ion-label>
          <ion-input [(ngModel)]="uid" required></ion-input>
        </div>

        <!-- Botón para validar UID -->
        <ion-button expand="block" class="custom-button" (click)="validateUID()">Validar UID</ion-button>

        <!-- Campo de correo, activado solo después de validar el UID -->
        <ion-button expand="block" class="custom-button" (click)="loginWithGoogle()" *ngIf="isUIDValid">
          Iniciar sesión con Google
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Animación de burbujas -->
  <div class="bottom-particles"></div>
</ion-content>
