<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos">
      <ion-label>
        <h2>ID: {{ pedido.id }}</h2>
        <p>Estado: {{ pedido.estado }}</p>
        <p>Total: ${{ pedido.precio }}</p>
      </ion-label>

      <ion-list>
        <ion-item *ngFor="let producto of pedido.productos">
          <ion-label>
            <p>{{ producto.nombre }}</p>
            <p>Cantidad: {{ producto.cantidad }}</p>
          </ion-label>
          <img [src]="producto.imagenUrl" alt="Producto">
        </ion-item>
      </ion-list>

      <ion-button color="success" (click)="aceptarPedido(pedido.id)">Aceptar</ion-button>
      <ion-button color="danger" (click)="rechazarPedido(pedido.id)">Rechazar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-sidebar></app-sidebar>
</ion-footer>
