<ion-content>
  <ion-button expand="full" (click)="openCart()" style="margin-bottom: 16px;">
    <ion-icon slot="start" name="cart"></ion-icon>
    Ver Carrito
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let item of platos$ | async"
              [ngClass]="{'disponible': item.plato.disponible, 'no-disponible': !item.plato.disponible}"
              [disabled]="!item.plato.disponible"
              (click)="presentModal(item)">
      
      <ion-thumbnail slot="start">
        <img [src]="item.plato.imagenUrl" alt="{{ item.plato.nombre }}" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ item.plato.nombre }}</h2>
        <h3>Precio: {{ item.plato.precio | currency:'USD':'symbol' }}</h3>
      </ion-label>

      <ion-button *ngIf="item.plato.disponible" fill="outline" (click)="addToCart(item); $event.stopPropagation()">Agregar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
