<app-header></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let plato of platos$ | async" (click)="presentModal(plato)">
      <ion-thumbnail slot="start">
        <img [src]="plato.imagenUrl" alt="{{ plato.nombre }}" /> <!-- Cambia plato.imagen por plato.imagenUrl -->
      </ion-thumbnail>
      <ion-label>
        <h2>{{ plato.nombre }}</h2>
        <p>{{ plato.descripcion }}</p>
        <h3>Precio: {{ plato.precio | currency:'USD':true }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
