ion-item {
  --background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Aplicar el color de fondo según la disponibilidad usando la variable --background */
ion-item.disponible {
  --background: rgba(144, 238, 144, 0.3); /* Verde suave */
}

ion-item.no-disponible {
  --background: rgba(255, 99, 71, 0.3); /* Rojo suave */
}

ion-thumbnail img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

ion-label h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-transform: none;
}

ion-label p {
  font-size: 12px;
  color: #666;
  text-transform: none;
}
ion-buttons {
  display: flex;
}


/* Estilos responsivos */
@media (min-width: 768px) {
  .footer-icon {
    font-size: 28px;
  }

  .footer-label {
    font-size: 14px;
  }
}
