<app-header></app-header>
<ion-content id="main-content">
  <div class="top-section">
    <div class="option">
      <ion-icon name="restaurant-outline" class="option-icon"></ion-icon>
      <p>Consumir en restaurante</p>
    </div>
    <div class="option">
      <ion-icon name="bag-handle-outline" class="option-icon"></ion-icon>
      <p>Recoger en restaurante</p>
    </div>
  </div>

  <div class="products-section">
    <div class="product">
      <img src="assets/product1.png" alt="Producto" class="product-icon" />
      <p>Producto 1</p>
    </div>
    <div class="product">
      <img src="assets/product2.png" alt="Producto" class="product-icon" />
      <p>Producto 2</p>
    </div>
    <div class="product">
      <img src="assets/product3.png" alt="Producto" class="product-icon" />
      <p>Producto 3</p>
    </div>
    <div class="product">
      <img src="assets/product4.png" alt="Producto" class="product-icon" />
      <p>Producto 4</p>
    </div>
  </div>

  <div class="large-section">
    <div id="map" class="large-icon"></div>
  </div>
</ion-content>
<app-footer></app-footer>
