<app-header></app-header>
<ion-content id="main-content">
  <div class="top-section">
    <div class="option">
      <ion-icon name="restaurant-outline" class="option-icon"></ion-icon>
      <p>Pedir a domicilio</p>
    </div>
    <div class="option">
      <ion-icon name="bag-handle-outline" class="option-icon"></ion-icon>
      <p>Recoger en restaurante</p>
    </div>
  </div>

  

  <div class="large-section">
    <div id="map" class="large-icon"></div>
  </div>
</ion-content>
<app-footer></app-footer>
