<ion-content class="splash-screen">
  <img src="https://neocities.org/site_thumbnails/26/08/mateogutierrez/Logo%20ChefCode.png.210x158.webp" alt="Logo pequeño" class="splash-image-small">

  <div>
    <p class="splash-comment-highlight">Ordenar comida nunca fue tan sencillo</p>
    <p class="splash-comment">La forma mas sencilla de satisfacer tu antojo</p>
  </div>


  <div  (click)="inicio()" class="ion-activatable ripple-parent custom-parent">
    INICIAR
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-content>
