<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos de la entrega</ion-title>
    <ion-buttons slot="end">
      <img src="https://mateogutierrez.neocities.org/Logo%20ChefCode.png" alt="Logo" class="logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Indicador de Progreso -->
  <div class="progress-indicator">
    <div class="step completed">
      <div class="circle"></div>
      <p>Entrega</p>
    </div>
    <div class="line"></div>
    <div class="step active">
      <div class="circle"></div>
      <p>Confirmación</p>
    </div>
    <div class="line"></div>
    <div class="step">
      <div class="circle"></div>
      <p>Pago</p>
    </div>
  </div>
<!-- Sección de Información Personal -->
<ion-card class="info-section">
  <ion-card-header class="section-title">
    <ion-card-title>Información personal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="info-item">
      <label>Nombre completo</label>
      <p class="data-value">Mateo de Jesús</p>
    </div>
    <div class="info-item">
      <label>Dirección de correo electrónico</label>
      <p class="data-value">mateogutmar&#64;gmail.com</p>
    </div>
    <div class="info-item">
      <label>Número de teléfono</label>
      <p class="data-value">249 293 43 91</p>
    </div>
  </ion-card-content>
</ion-card>

<!-- Sección de Envío a Domicilio -->
<ion-card class="address-section">
  <ion-card-header class="section-title">
    <ion-card-title>Envío a domicilio</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="address-card">
      <p class="data-value">mateogutmar&#64;gmail.com</p>
      <p class="address">Av. Trebol #45 San José</p>
    </div>
    <div class="choose-address">
      <ion-button expand="block" color="warning">Elegir otro domicilio</ion-button>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="inicio" (click)="Home()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="pedido" (click)="Pedir()">
    <ion-icon name="fast-food-outline"></ion-icon>
    <ion-label>Pedido</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="reservar" (click)="Reserva()">
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>Reservar</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="perfil" [routerLink]="['/perfil']">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-footer>
