<ion-content>
  <div class="container">
    <ion-card class="login-card">
    <img src="https://neocities.org/site_thumbnails/26/08/mateogutierrez/Logo%20ChefCode.png.210x158.webp" alt="Logo pequeño" class="splash-image-small">
      <ion-title class="login-title">Iniciar sesion</ion-title>
      
      <ion-item class="input-item">
        <ion-input placeholder="Correo electronico"></ion-input>
      </ion-item>
      
      <ion-item class="input-item">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      
      <ion-text class="forgot-password" color="medium">¿Olvidaste tu contraseña?</ion-text>
      
      <ion-button expand="block" class="login-button">Iniciar sesion</ion-button>
      
      <div class="social-login">
        <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
        <ion-icon name="logo-google" class="social-icon"></ion-icon>
      </div>
    </ion-card>
  </div>
</ion-content>

