.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  margin: 0 auto 20px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

ion-item {
  margin: 10px 0;
}

.input-field {
  --background: #f9f3cf;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  color: #888;
  text-decoration: none;
}

.login-button {
  --background: #ff5a1e;
  margin-top: 20px;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  ion-button {
    margin: 0 10px;
    color: #3b5998; /* Facebook color */
    &:last-child {
      color: #db4437; /* Google color */
    }
  }
}
ion-content {
  --ion-background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-item {
  --background: #E3D556; /* Fondo amarillo */
  margin-bottom: 10px;
  border-radius: 10px;
  text-transform: none; /* Para texto en su formato original */
  color: #000000;
  --padding-start: 10px; /* Aumenta el padding interno para una mejor apariencia */
}

.forgot-password {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-button {
  --background: #ff5722;
  --background-activated: #e64a19;
  --background-focused: #ff5722;
  margin-bottom: 30px;
  --border-radius: 50px;
  text-transform: none; /* Para texto en su formato original */
  color: #fbfeff;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
  color: #3b5998;
  cursor: pointer;
}

.social-icon[name="logo-google"] {
  color: #db4437;
}

/* Media Queries */
@media (min-width: 576px) {
  .login-card {
    padding: 30px;
  }

  .profile-img {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
  }

  .login-title {
    font-size: 28px;
  }

  .social-login {
    gap: 20px;
  }

  .social-icon {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .login-card {
    padding: 40px;
  }

  .profile-img {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
  }

  .login-title {
    font-size: 32px;
  }

  .social-icon {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .login-card {
    padding: 50px;
  }

  .profile-img {
    width: 160px;
    height: 160px;
    margin-bottom: 50px;
  }

  .login-title {
    font-size: 36px;
  }

  .social-icon {
    font-size: 36px;
  }
}
