<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="https://mateogutierrez.neocities.org/Logo%20ChefCode.png" alt="Logo" class="logo">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar domicilio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <ion-item lines="none">
      <ion-label position="stacked" class="input-label">Código Postal</ion-label>
      <ion-input class="input-field" type="text"></ion-input>
    </ion-item>

    <div class="input-row">
      <ion-item lines="none">
        <ion-label position="stacked" class="input-label">Estado</ion-label>
        <ion-input class="input-field" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" class="input-label">Ciudad</ion-label>
        <ion-input class="input-field" type="text"></ion-input>
      </ion-item>
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" class="input-label">Colonia</ion-label>
      <ion-input class="input-field" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" class="input-label">Calle</ion-label>
      <ion-input class="input-field" type="text"></ion-input>
    </ion-item>

    <div class="input-row">
      <ion-item lines="none">
        <ion-label position="stacked" class="input-label">Número Exterior</ion-label>
        <ion-input class="input-field" type="text"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" class="input-label">Número Interior</ion-label>
        <ion-input class="input-field" type="text"></ion-input>
      </ion-item>
    </div>

    <ion-item lines="none">
      <ion-label position="stacked" class="input-label">¿Entre qué calles se encuentra?</ion-label>
      <ion-input class="input-field" type="text"></ion-input>
    </ion-item>

    <br>
    <div class="button-container">
      <ion-button expand="block" class="save-button">Guardar domicilio</ion-button>
    </div>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-segment mode="md">
        <ion-segment-button value="inicio">
          <ion-icon name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pedido">
          <ion-icon name="restaurant"></ion-icon>
          <ion-label>Pedido</ion-label>
        </ion-segment-button>
        <ion-segment-button value="reservar">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Reservar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-content>
