<app-header></app-header>

<ion-content>
  <ion-list>
    <!-- Iterar sobre cada bebida y mostrar sus datos -->
    <ion-item *ngFor="let bebida of bebidas$ | async" (click)="presentModal(bebida)">
      <ion-thumbnail slot="start">
        <img [src]="bebida.imagenUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ bebida.nombre }}</h2>
        <p>{{ bebida.descripcion }}</p>
        <h3>Precio: {{ bebida.precio | currency:'USD':true }}</h3> <!-- Mostrar el precio -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>
