<ion-content>
  <ion-searchbar placeholder="Buscar" class="searchbar-custom"></ion-searchbar>

  <div class="swiper-container" #swiper>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/Imagen1Chefcode.jpg">
      </div>
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/Imagen2Chefcode.jpg">
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <ion-button expand="full" color="danger">Explorar menú</ion-button>
</ion-content>

<app-footer></app-footer>
