<app-header></app-header>
<ion-content>
  <br>
  <br>
  <br>
  <!-- Slogan -->
  <div class="slogan">
    <h1>¡Delicias para todos los gustos!</h1>
  </div>

  <!-- Slider -->
  <div class="swiper-container" #swiper>
    <div class="swiper-wrapper">
      <!-- Imagen 1 desde URL -->
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/Hamburguesacar.jpg" alt="Imagen 1">
      </div>
      <!-- Imagen 2 desde URL -->
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/Vasohielos.jpg" alt="Imagen 2">
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <!-- Botón de "Explorar menú" -->
  <ion-button class="explore-menu-button" (click)="Mirarmenu()">Explorar menú</ion-button>
</ion-content>
<app-footer></app-footer>


