<ion-content>
  <ion-searchbar placeholder="Buscar" class="searchbar-custom"></ion-searchbar>

  <div class="swiper-container" #swiper>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/Mexico.jpg">
      </div>
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/lunetas.jpg">
      </div>
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/winis.jpg">
      </div>
      <div class="swiper-slide">
        <img src="https://mateogutierrez.neocities.org/panditas.jpg">
      </div>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <ion-button expand="full" color="danger">Explorar menú</ion-button>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedido">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Reservar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
