.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .profile-header {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px;

    .back-icon,
    .settings-icon {
      font-size: 24px;
      position: absolute;
      top: 10px;
      cursor: pointer;
    }

    .back-icon {
      left: 10px;
    }

    .settings-icon {
      right: 10px;
    }

    .profile-title {
      font-weight: bold;
      margin-top: 10px;
      font-size: 20px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .avatar-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: bold;
        color: #555;
        margin: 10px 0;
      }

      .profile-name {
        font-size: 32px;
        font-weight: bold;
        margin: 5px 0;
      }

      .profile-username {
        font-size: 20px;
        color: gray;
      }

      .edit-profile-button {
        --background: #2393d8fb;
        --border-radius: 20px;
        color: white;
        font-weight: bold;
        text-transform: none; /* Evita que el texto se transforme (uppercase, lowercase, etc.) */
        margin-top: 10px;
      }
    }
  }

  .profile-form {
    width: 100%;
    margin-top: 20px;

    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 10px;
      background-color: rgba(255, 243, 176, 0.564); /* Amarillo claro */
      font-size: 16px;
      font-family: inherit;
    }

    input:disabled {
      background-color: #fff3b0; /* Mismo amarillo para disabled */
      color: #000; /* Texto negro */
    }

    .save-button {
      --background: #fa4f10;
      font-weight: bold;
      border-radius: 25px;
      font-size: 16px;
      margin-top: 20px;
      text-transform: none; /* Evita que el texto se transforme (uppercase, lowercase, etc.) */
      color: white;
      width: auto; /* No lo fuerza a tomar todo el ancho */
      display: block;
      margin: 10px auto; /* Centra el botón */
    }
  }
}

