<ion-content>
  <div class="container">
    <ion-card class="login-card">
      <img src="https://neocities.org/site_thumbnails/26/08/mateogutierrez/Logo%20ChefCode.png.210x158.webp" alt="Logo pequeño" class="splash-image-small">
      <ion-title class="login-title">Regístrate</ion-title>

      <ion-item class="input-item">
        <ion-input placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input placeholder="Correo electrónico"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input placeholder="Teléfono"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button">Crear cuenta</ion-button>

      <div class="social-login">
        <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
        <ion-icon name="logo-google" class="social-icon"></ion-icon>
      </div>
    </ion-card>
  </div>
</ion-content>
